#dpdgeopost_create_shipment
{
	float:right;
}

#dpdgeopost_shipment_creation
{
	display:none;
	background:#EBEDF4;
	padding: 20px;
	width: 700px;
	height: 550px;
	overflow-y: scroll
}

.buttons_container
{
	float:right;
	margin-bottom: 20px;
}

#dpdgeopost_shipment_creation .parcel_description input
{
	width: 98%;
}

#dpdgeopost_shipment_creation .error {
    background: url("../../../img/admin/icon-cancel.png") no-repeat scroll 6px 6px #FFBABA;
    border: 1px solid #CC0000;
    color: #D8000C;
}
#dpdgeopost_shipment_creation .conf, #dpdgeopost_shipment_creation .warn, #dpdgeopost_shipment_creation .error {
    border-radius: 3px;
    color: #383838;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 10px;
    min-height: 28px;
    padding: 13px 5px 5px 40px;
}

#dpdgeopost_print_labels
{
	float:left;
}

#dpdgeopost_preview_shipment, #dpdgeopost_edit_shipment, #dpdgeopost_delete_shipment
{
	float:right;
	margin-left: 15px;
}

#dpdgeopost_shipment_creation_close
{
	margin-bottom: 20px;
}